<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--<add name="numrConnection" connectionString="Server=10.10.1.121;User Id=numruser;Password=TiatechDbA;Database=numrbasenew;Pooling=true;MaxPoolSize=300;Integrated Security=true" providerName="Npgsql" />-->
    <add name="numrConnection" connectionString="Server=220.225.116.161;Port=2345;User Id=numruser;Password=TiatechDbA;Database=numrbasenew;Pooling=true;MaxPoolSize=300;Integrated Security=true" providerName="Npgsql" />
      </connectionStrings>
  <appSettings>
    <add key="connection" value="productio"/>
    <add key="machines" value="'Vitros_5_1_FS','Horiba_Pentra_60'"/>
  </appSettings>
</configuration>